/* style.css */

html, body {
    height: 100%;
}

body {
  font-family: 'Segoe UI';
  text-align: center;
  background-color: black;
  margin: auto;
  width: 80%;
}

h1 { 
  font-size: 3rem;
  color: grey;
}

p {
  font-size: 1rem;
  color: grey;
}

#sketch-holder {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
